/* Festlegen der Schriftart */

body{
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-left: 15rm;
  
}


/* Warnungsicon */


/* legt die Maße des Icons fest */
.btn-img {
  padding: 0;
  overflow: hidden;
}

.btn-img img {
  width: 1.5em;
  height: 1.5em;
  object-fit: cover;
}
.btn {
  width:10em;
}

#alert {
  width: 2.5em;
  height: 2.5em;
  border-radius: 25px;
  margin-right: 1em;
  margin-top: 1em;
} 

/* Ampel */

/* Richtet die Ampel horizontal aus */

.traffic-light.horizontal {
  display: flex;
  flex-direction: row;
}

/* Formt die Ampellichter */

.light {
  width: 2.5em;
  height: 2.25em;
  border-radius: 25px;
  margin-right: 0.5em;
  margin-top: 1em;
  opacity: 0.3;
}

/* Legt die Farben für die Lichter fest */

.white {
  background-color: white;
}
.red {
  background-color: #f00;
}

.yellow {
  background-color: #ff0;
}

.green {
  background-color: #0f0;
}

#container1, #container2 {
  display: grid;
  grid-template-columns: repeat(2, 2fr);

  grid-gap: 5px;
  width: 200px;
  height: 200px;
  
 
  background-color: black;
 
}

.parent-container {
  display: flex;
  
}
#draggable {
  width: calc(100% - 10px);
  height: 90px;
  background-color: red;
  cursor: move;

}
#draggable2 {
  width: calc(100% - 10px);
  height:90px;
  background-color: blue;
  cursor: move;
}

#draggable3 {
  width: calc(100% - 10px);
  height:90px;
  background-color: green;
  cursor: move;

}

#draggable4 {
  width: calc(100% - 10px);
  height: 90px;
  background-color: yellow;
  cursor: move;

}

.apexcharts-menu{
  background-color: #27293d!important;
  border: 0px;
  }
