/* Festlegen der Schriftart */

body{
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-left: 15rm;
  
}


/* Warnungsicon */


/* legt die Maße des Icons fest */
.btn-img {
  padding: 0;
  overflow: hidden;
}

.btn-img img {
  width: 1.5em;
  height: 1.5em;
  object-fit: cover;
}
.btn {
  width:10em;
}

#alert {
  width: 2.5em;
  height: 2.5em;
  border-radius: 25px;
  margin-right: 1em;
  margin-top: 1em;
} 

/* Ampel */

/* Richtet die Ampel horizontal aus */

.traffic-light.horizontal {
  display: flex;
  flex-direction: row;
}

/* Formt die Ampellichter */

.light {
  width: 2.5em;
  height: 2.25em;
  border-radius: 25px;
  margin-right: 0.5em;
  margin-top: 1em;
  opacity: 0.3;
}

/* Legt die Farben für die Lichter fest */

.white {
  background-color: white;
}
.red {
  background-color: #f00;
}

.yellow {
  background-color: #ff0;
}

.green {
  background-color: #0f0;
}

.container {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  display: inline-block;
  margin: 10px;
}
#draggable {
  width: 100px;
  height: 100px;
  background-color: red;
  cursor: move;
}